@model SocialNetwork.Models.AdminViewModels.RoleModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    @using (Ajax.BeginForm("CreateRole", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", HttpMethod = "Post" }))
    {
        @Html.AntiForgeryToken()
        <div class="row my_form">
            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row my_form">
            <button type="submit" class="btn btn-default col-md-12 my_register_btn">Add role</button>
        </div>
    }
        
</div>