
@section BorderMenu
{
    @{ Html.RenderPartial("ModeratorMenu"); }
}


<div class="row">
    <div id="moderatorPanel" class="col-md-12 col-md-offset-2 border" style="height:400px">
        <legend>Moderator panel</legend>
        <div id="messages" class="col-md-12">
            <div id="result">
            </div>
        </div>

    </div>
</div>
@*<script>
    function autocomplete() {
        $("[source]").each(function () {
            var target = $(this);
            target.autocomplete({
                source: target.attr("source"),
                focus: function (event, ui) {
                    $("#searchDelete").val(ui.item.name + " " + lastName);
                    return false;
                },
                select: function (event, ui) {
                    $("#searchDelete").val(ui.item.name + " " + ui.item.lastName);
                    return false;
                }
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<a href=\"/Home/User/" + item.publicId + "\"> <div class=\"media autocomplete\"><div class=\"media-left media-top\"><img class=\"media-object autocomplete\" src=\"" + item.avatar + "\"></div><div class=\"media-body\"><h5 class=\"media-heading autocomplete\">" + item.name + " " + item.lastName + "</h5><div class=\"media\"><div class=\"media-body\"><span>" + item.address + "</span></div></div></div></div>")
                    .appendTo(ul);
            };
        });
    }
</script>*@