@model SocialNetwork.Models.SearchPageModel

@section BorderMenu
      {
    @{ Html.RenderPartial("BorderMenu");}
}
<div id="result" class="col-md-8 col-md-offset-1">
    @{ Html.RenderPartial("Partial/Users", Model.Users);}
</div>
<div class="col-md-3">
    @{ Html.RenderPartial("Partial/Search");}
</div>

@section Scripts
{
    <script src="~/Scripts/SignalR/counters.js"></script>

    <script src="~/Scripts/SignalR/search.js"></script>
    <script src="~/Scripts/SignalR/friends.js"></script>
}