@model IEnumerable<SocialNetwork.Models.FriendModel>

@section BorderMenu
        {
    @{ Html.RenderPartial("BorderMenu");}
}
<div class="col-md-7 col-md-offset-1">
    <div id="result">
        @{ Html.RenderPartial("Partial/Friends", Model); }
    </div>
</div>
<div class="col-md-4 friend-menu">
    <ul class="nav nav-pills nav-stacked friend-menu">
        <li> <a id="getFriends">My friends</a></li>
        <li>
            <a id="followers">
                Followers @if (ViewBag.Followers != 0)
            {<span id="followersCounter" class="badge">@ViewBag.Followers</span>}
            else
            { <span id="followersCounter" class="badge" style="display:none">@ViewBag.Followers</span>}
            </a>
        </li>
        <li>
            <a id="followed">
                Followed @if (ViewBag.Followed != 0)
            {<span id="followedCounter" class="badge">@ViewBag.Followed</span>}
            else
            {<span id="followedCounter" class="badge" style="display:none">@ViewBag.Followed</span>}
            </a>
        </li>
    </ul>
</div>
@section Scripts
{
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/SignalR/counters.js"></script>
    <script src="~/Scripts/SignalR/friends.js"></script>
}