@model SocialNetwork.Models.SettingsViewModel

@section BorderMenu
        {
    @{ Html.RenderPartial("BorderMenu");}
}
<div class="col-md-12 col-md-offset-1" id="settings">
    @{ Html.RenderPartial("Partial/Settings", Model); }
</div>