@model SocialNetwork.Models.SettingsViewModel

<div class="row">
    <div class="col-md-3">
        @{ Html.RenderPartial("BorderMenu");}
    </div>

    <div class="col-md-9" id="settings">
                @{ Html.RenderPartial("Partial/Settings", Model); }
    </div>
</div>