
@section BorderMenu
 {
    @{Html.RenderPartial("AdminMenu");}
}

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <div class="form-horizontal">
            <legend>Admin panel</legend>
            <div id="adminPanel" class="col-md-12 border" style="height: 400px">

                <div id="result">
                </div>
                <div class="row">
                    <div class="col-md-12" id="wait" @*style="height:180px"*@>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
